body {
    font-family: sans-serif;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh 50vh;
    height: 100vh;
}


.color-design-container,
.image-container {
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}


.design-label,
.photo-label {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 10;
    color: #333;
}


.color-box {
    position: absolute;
}


.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.red-box-1 {
    width: 45%; 
    height: 55%; 
    background-color: red;
    top: 20%;
    left: 5%;
}

.blue-box-1 {
    width: 20%; 
    height: 20%; 
    background-color: blue;
    top: 65%; /* Adjusted to move the square down */
    left: 15%; 
}

.yellow-box-1 {
    width: 35%;
    height: 35%;
    background-color: yellow;
    top: 15%;
    right: 5%;
}

.black-box-1 {
    width: 35%;
    height: 35%;
    background-color: black;
    bottom: 5%;
    right: 5%;
}



.red-box-2 {
    width: 50%;
    height: 70%;
    background-color: red;
    top: 10%;
    left: 0;
}

.blue-box-2 {
    width: 30%;
    height: 30%;
    background-color: blue;
    top: 45%; /* Posición más precisa */
    left: 25%;
}

.yellow-box-2 {
    width: 60%; /* Más ancho */
    height: 30%;
    background-color: yellow;
    top: 10%;
    right: 0;
}

.black-box-2 {
    width: 60%;
    height: 40%; /* Más alto */
    background-color: black;
    bottom: 0;
    right: 0;
}