body {
    font-family: sans-serif;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh 50vh;
    height: 100vh;
}


.color-design-container,
.image-container {
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}


.design-label,
.photo-label {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 10;
    color: #333;
}


.color-box {
    position: absolute;
}


.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.red-box-1 {
    width: 30%; 
    height: 55%; 
    background-color: red;
    top: 0;      /* esquina superior */
    left: 0;     /* esquina izquierda */
}

.blue-box-1 {
    width: 20%; 
    aspect-ratio: 1 / 1; 
    background-color: blue;
    top: 55%; /* para poner espacio desde arriba  */
    left: 45%; 

}

.yellow-box-1 {
    width: 20%;
    aspect-ratio: 1 / 1;
    background-color: yellow;
    top: 15%;
    right: 10%;
}



.black-box-1 {
    /*margin-left: 440px ;
    margin-top: 80px;*/
    position: absolute;        /* para hacer que no se mueava */
    width: 20%;
    aspect-ratio: 1 / 1;      /* lo deja cuadrado */
    background-color: black;
    bottom: 20px; /* para hacer crear espacio desde abajo  */
    right: 0;
}

.red-box-2 {
    width: 30%;
    height: 60%;
    background-color: red;
    top: 10%;
    left: 0;
}

.blue-box-2 {
    width: 20%;
    aspect-ratio: 1 / 1; 
    background-color: blue;
    top: 45%; /* Posición más precisa */
    left: 25%;
}

.yellow-box-2 {
    width: 40%; /* Más ancho */
    height: 40%;
    background-color: yellow;
    top: 10%;
    right: 0;
}

.black-box-2 {
    width: 60%;
    height: 40%; 
    background-color: black;
    bottom: 0;
    right: 0;
}